.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: 100vh;
}

nav {
	background: #a7ffeb;
}

main {
	background: #84ffff;
}

#sidebar {
	background: #18ffff;
}

#content1 {
	background: #6fffd2;
}

#content2 {
	background: #64ffda;
}

#content3 {
	background: #73ffba;
}

footer {
	background: #1de9b6;
}
