:root{
	--nav-color: #5deec7;
	--main-color: #df44fc;
	--content-color: #c1699a;
	--sidebar-color: #b9b0bd;
	--footer-color:#433246;
}


.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 2.5fr 1.2fr 0.8fr;
	height: 100vh;
	grid-template-areas: 
	"nav nav nav nav"
	"sidebar main main main"
	"sidebar content1 content2 content3"
	"sidebar footer footer footer";
	grid-gap: 3px;
}

nav {
	background: var(--nav-color);
	grid-area: nav;
}

main {
	background: var(--main-color);
	grid-area: main;
}

#sidebar {
	background: var(--sidebar-color);
	grid-area: sidebar;
}

#content1 {
	background: var(--content-color);
	grid-area: content1;
}

#content2 {
	background: var(--content-color);
	grid-area: content2;
}

#content3 {
	background: var(--content-color);
	grid-area: content3;
}

footer {
	background: var(--footer-color);
	grid-area: footer;
}


@media only screen and (max-width: 550px) {
	/* 
		display 1 column
		display 7 rows
		designate area for each row defined below
	*/
	.container {
	  grid-template-columns: 1fr;
	  grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr; 
	  grid-template-areas:
		"nav"
		"sidebar"
		"main"
		"content1"
		"content2"
		"content3"
		"footer";
	}
  }